<div class="card">
    <div class="card-header">
      <h1>WHAT U SPENT TODAY</h1>
    </div>
    <div class="card-body">
     <form class="form-control">
         <div class= "form-group">
         <label for="">ITEM INFO</label>
         <input type ="text" [(ngModel)] ="item" name ="item" placeholder="Enter item info" required class="form-control">
         </div>
         <div class= "form-group">
          <label for="">AMOUNT</label>
          <input type ="number" [(ngModel)] ="amt" name ="amt" placeholder="Enter amount" required class="form-control" >
         </div>
          <div class="form-group">
            <ngb-datepicker #dp [(ngModel)]="model" [ngModelOptions]="{standalone: true}"></ngb-datepicker>
          </div>
                <button type="button" (click)="saveItem()" class ="btn btn-primary float-right">ADD</button>
        </form>
    </div>
  </div>
  <div class="container">
    <h3>u want to add something u spent today?????? Click here</h3>
    <button type="button" routerLink="/item" routerLinkActive="Active" class="btn btn-primary">Insert</button>
  </div>
  <div class="container">
    <h3>get ur expenditure details?????? Click here</h3>
    <button type="button" routerLink="/getitem" routerLinkActive="Active" class="btn btn-primary">GetData</button>
  </div>